body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background: #f5f7fa;
color: #333;
}


header {
background: #0d6efd;
color: white;
padding: 40px 20px;
text-align: center;
}


section {
padding: 20px;
max-width: 800px;
margin: auto;
}


footer {
text-align: center;
padding: 15px;
background: #222;
color: #fff;
}
